[Desktop Entry]
Name=Payload Manager
Comment=Pentest payload picker
Exec=/home/redfive/.local/bin/payload-manager
Icon=security-high
Terminal=false
Type=Application
Categories=Security;
